.main-layout {
  position: relative;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    padding: 0px 20px;
    font-size: 18px;

    .left-side {
      display: flex;
      align-items: start;
      gap: 50px;

      .brand {
        img {
          height: 40px;
          filter: invert(1);
        }
      }
    }

    .right-side {
      .person {
        display: flex;
        gap: 30px;
        margin-right: 20px;
      }
    }
  }

  .layout {
    display: flex;

    .content {
      width: 100%;
      height: calc(100vh - 20px);
      overflow: scroll;
      overflow-x: hidden;
    }
  }

  .footer {
    height: 20px;
    background-color: #2e2c2d;
  }
}
