<div class="main-layout">

  <div class="navbar">
    <div class="left-side">
      <div class="drawer-menu">
        <i class="fa-thin fa-bars"></i>
      </div>
      <div class="brand">
        <img src="../../../assets/images/brand/brand-white.svg"
             alt="Logo" />
      </div>
    </div>

    <div class="right-side">
      <div class="person">
        <div class="user">
          <!-- tiklandiginda loginse profil sayfasina gidecek degilse giris yap sayfasina -->
          <i class="fa-thin fa-user"></i>
        </div>
        <div class="fav">
          <i class="fa-thin fa-heart"></i>
        </div>
        <div class="cart">
          <i class="fa-thin fa-bag-shopping"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="layout">
    <div class="content"
         id="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">

  </div>
</div>