.main-layout {
  position: relative;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 0px 20px;
    font-size: 18px;

    .left-side {
      display: flex;
      align-items: start;
      gap: 50px;

      .brand {
        img {
          height: 40px;
          filter: invert(1);
        }
      }
    }

    .right-side {
      display: flex;
      gap: 50px;

      .person {
        display: flex;
        gap: 20px;
        align-items: baseline;
        margin-right: 20px;

        label {
          font-size: 13px;
        }
      }
    }
  }

  .layout {
    display: flex;

    .content {
      width: 100%;
      height: calc(100vh - 20px);
      overflow: scroll;
      overflow-x: hidden;
    }
  }

  .footer {
    height: 20px;
    background-color: #2e2c2d;
  }
}

@media only screen and (max-width: 580px) {
  .navbar {
    font-size: 14px !important;

    .person {
      margin-right: 0px !important;
    }
  }

  .brand {
    img {
      height: 20px !important;
    }
  }
}
