<div class="main-layout">

  <div class="navbar">
    <div class="logo">
      <img src="../../../assets/images/brand/logo-white-small.svg"
           alt="Logo" />
    </div>
    <div class="brand">
      <img src="../../../assets/images/brand/brand-white.svg"
           alt="Logo" />
    </div>
    <div class="profile">

    </div>
  </div>

  <div class="menu">
    <div class="tabs">
      <a>Books</a>
      <a>Education</a>
      <a>Stationary</a>
      <a>Best Seller</a>
    </div>
    <div class="search-bar">
      <input type="text"
             placeholder="Search" />
      <button>Search</button>
    </div>
  </div>

  <div class="content"
       id="main-content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">

  </div>
</div>