.main-layout {
  position: relative;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;

    &:hover {
      background-color: #2e2c2d;
    }

    .logo {
      img {
        height: 100px;
        width: 120px;
        rotate: 90deg;
      }
    }

    .brand {
      img {
        height: 40px;
      }
    }
  }

  .scrolled-navbar {
    background-color: #2e2c2d;
  }

  .menu {
    width: 100%;
    position: absolute;
    top: 90px;
    z-index: 9999;
    height: 50px;
    background-color: #2e2c2d;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-bar {
      padding: 30px;
    }
  }

  .content {
    background-color: #d9d9d9;
    height: calc(100vh - 20px);
    overflow: scroll;
    overflow-x: hidden;
  }

  .footer {
    height: 20px;
    background-color: #2e2c2d;
  }
}
